@import "tailwindcss";

@theme {
  --color-movie-primary: #19191f;
  --color-movie-secondary: #111827;
  --color-gray-primary: #393d47;
  --color-yellow-star: #eab308;
  --color-white-title: #f4f4f6;
  --color-red-primary: #ff2d55;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100dvh;
}
